body {
    background-color: snow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
    color: darkgreen;
}

header {
    border-bottom: 1px solid darkgreen;
}

h1 {
    color: darkgreen;
    margin: 0.5em 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: hotpink;
    margin: 1.5em 0 1em;
    font-size: 1.25em;
}

table {
    margin-top: 1em;
}

thead {
    background-color: darkseagreen;
}

th {
    color: white;
    padding: 0.25em 0;
    font-size: 1.15em;
}

td {
    border-top: 1px solid hotpink;
    padding: 10px 10px;
}

.code {
    font-family: monospace, 'Courier New', Courier;
}

a {
    color: darkgreen;
    text-decoration: none;
}

a:hover {
    color: hotpink;
}

footer {
    margin-top: 4em;
    border-top: 1px dashed darkseagreen;
}